{% extends 'base.html' %}

{% block content %}

<h2 class = "center">{{search | title}}</h2>


  <div class="row">

    {%for ad in ads%}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{ad.img_link}}" alt="no image for this ad">
          <span class="card-title" style="width:100%">{{ad.price}}</span>
        </div>
        <div class="card-content">
          <a target="_blank" href="{{ad.link}}"><p>{{ad.title}}</p></a>
        </div>
      </div>
    </div>
    {%endfor%}

  </div>


{% endblock content %}
