.card{
  height:300px;
  overflow: hidden;
}

.card-image{
  overflow: hidden;
  height: 200px;
}

.activator{
  font-size: 12px;
}

img{
  height: inherit;
  object-fit:contain;
}

.card-title{
  font-size: small !important;
  font-weight: bold;
}

.card-title{
  display: -webkit-box;
  -webkit-box-orient: vertical;

/* to specify the number of lines you want the text to run through... */
  -webkit-line-clamp: 2;
/* hide the overflowing text, i.e, texts that did not fit in to the box */
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}


@media only screen and (min-width: 600px)  {
  .top-btn{
    display: block;
    right:0;
    bottom:0;
    position: fixed;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 99;
  }
}

@media only screen and (max-width: 600px)  {
  .top-btn{
    display: block;
    right:0;
    bottom:0;
    position: fixed;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 99;
  }
}

.brand-logo{
  font-weight:normal;
  font-variant: small-caps;
}

body{ height:100vh; margin:0; }

footer{ min-height:inherit;}

body{
  display:flex;
  flex-direction:column;
}

footer{
  margin-top:2%;
  height: 100vh;
  position: relative;
}

#footer-copyright{
  height: 100%;
}

.card-footer{
  bottom:0;
  position: absolute;
}


.card{
  position: relative;
}

.landing-banner{
  padding: 2%;
  margin-top:1%;
}
