.card{
  height:300px;
  overflow: hidden;
}

.card-image{
  overflow: hidden;
  height: 200px;
}

img{
  height: inherit;
  object-fit: cover;
}

.card-title{
  background-color: rgba(5, 255, 232, 0.5);
}
