.card{
  height:300px;
  overflow: hidden;
}

.card-image{
  overflow: hidden;
  height: 200px;
}

img{
  height: inherit;
  object-fit:contain;
}

.card-title{
}

html {
  scroll-behavior: smooth;
}

.items-view{
}

@media only screen and (min-width: 600px)  {
  .top-btn{
    display: block;
    right:0;
    bottom:0;
    position: fixed;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 99;
  }
}

@media only screen and (max-width: 600px)  {
  .top-btn{
    display: none;
  }
}

.brand-logo{
  font-weight:normal;
  font-variant: small-caps;
}

body{ height:100vh; margin:0; }

header{ min-height:50px; background:lightcyan; }
footer{ min-height:50px; background:PapayaWhip; }

/* Trick */
body{
  display:flex;
  flex-direction:column;
}

footer{
  margin-top:auto;
}
